// Navigation code here

nav {
  margin: 0 0 10rem 0;

  h1 {
    font-size : 4rem;
    text-align: center;
    padding   : 2rem;
  }

  .links {
    width          : 70%;
    margin:auto;
    display        : flex;
    justify-content: space-around;
    font-size      : 2rem;

  }

  a {
    text-decoration: none;
    padding        : 0 0 1rem;
  }
}